a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: #07a8c5;
  transition-duration: 1s;
  text-decoration: underline;
}

.beginning{
  background-color: #333;
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-attachment: fixed;
}

.menu{
  display: flex;
  float: right;
  width: 50%;
  margin-left: 33%;
  font-family: 'Poiret One',sans-serif;
}
    .option1{
      margin: auto;
    }

    .option2{
      margin: auto;
    }

    .option3{
      margin: auto;
    }

    .option4{
      margin: auto;
    }

    .logo{
    	float: left;
    	font-size: 200%;
    	font-family: 'montserrat', helvetica;
    }

    .logo2{
    	font-family: 'Shadows Into Light', cursive;

    }

.navbar{
  width: 100%;
  position: fixed;
  background-color: transparent;
  height: 90px;
}
    .blanknav{
      width: 100%;
      height: 90px;
    }

.title{
  font-size: 700%;
  font-family: 'montserrat';
  text-align: center;
}
  .titleabout{
    color: #07a8c5;
  }

.title2{
  font-family: 'Poiret One';
  font-size: 400%;
  text-align: center;
  opacity: 50%;
  color:
}
